* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 50px;
}

#benvenuta-estate .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

#benvenuta-estate .card:hover {
    transform: scale(1.05);
    z-index: 1;
}

#offerte-settimana div, #benvenuta-estate div, #last-minute div {
    margin-top: 10px;
    margin-bottom: 10px;
}